@import "/src/style/theme.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  padding-top: $height-appBar;
  padding-bottom: 30px;
  // background-image: url(/assets/images/bg@3x.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
}

main {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  max-width: $width-pageMax;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}
